.row1{
    width: 1320px;
    height: 1860px;
}
.row4{
    width: 1320px; 
    height: 580px;
}
.cart1{
    width: 23rem ;
    height:29rem;
}
.col_2{
    height:122px;
    
}
.col_3{
    height: 110px;
}
.card{
border: none;  
}   